.c-textright{
    // width: 59%;
    font-family: $font-medium;
    line-height: 2.1rem;
    padding-left: 42rem;
    color: $color-darkblue;
    @include media-breakpoint-down(lg) {
      padding-left: 35rem;
      
  }
    @include media-breakpoint-down(md) {
        width: 100%;
        padding-left: 27rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: .8rem;
        padding-left: 20rem;
        line-height: 1.1rem;
      }
      @include media-breakpoint-down(xs) {
        padding-left:19rem;
    }
    @media (max-width: 483px) {
        padding-left: 16rem;
    }
    @media (max-width: 425px) {
        padding-left: 14rem;
    }
    @media (max-width: 380px) {
        padding-left: 13.2rem;
    }
    @media (max-width: 367px) {
        padding-left: 12.5rem;
    }
}