.c-textkort{
    width: 43%;
    font-family: $font-medium;
    line-height: 2.1rem;
    padding-left: 2rem;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
    @include media-breakpoint-down(sm) {
        font-size: .8rem;
        padding-left: 2rem;
        line-height: 1.1rem;
        width: 90%;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 3rem;
      }
}