.c-home{
    &__info{
        &-title{
            padding-top: 6rem;
            font-family:$font-bold ;
            text-transform: uppercase;
            color: $color-darkblue;
            font-size: 3.3rem;
        }
        &-subtitle{
            font-family:$font-bold ;
            color: gray;
            font-size: 2rem;
            padding-bottom: 2.7rem;
        }
    }
}

