.c-h2{
    padding-top: 3rem;
    font-family: $font-bold;
    color: $color-darkblue;
    font-size: 2rem;
    padding-left: 20rem;
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.2rem;
        
      }
      @include media-breakpoint-down(xs){
        font-size: 1.1rem;
      }
    &__spacing{
        height: 165px;
        position: relative;
        @include media-breakpoint-down(sm) {
          height: 100px;
        }
    }
    &__total{
        position: absolute;
        left: -32rem;
        
        padding-left: 12rem;
        @include media-breakpoint-down(md) {
            padding-left: -18rem;
          }
          @include media-breakpoint-down(sm) {
            left: -30rem;
          }
    }
    &__line{
        border: 3px solid  $color-lightblue;
        background-color: $color-lightblue;
        width: 100%;
        margin-top: 1rem;
        position: absolute;
        left:0;

    }
    
//     &__line{
//         border: 3px solid  $color-lightblue;
//         width: 36%;
//         margin-top: 1rem;
//         position: absolute;
//         left: 0;
//         @include media-breakpoint-down(lg) {
//             width: 37%;
//           }
//           @include media-breakpoint-down(md) {
//             width: 47%;
//           }
//           @include media-breakpoint-down(sm) {
//             width: 69%;
//           }
//     }
}