.c-home{
    background-color: $color-background;
    
    &__map{
        background-image: url("../Media/map.png");
        height: 66rem;
        background-repeat: no-repeat;
        z-index: -1;
        
    }
    &__filters{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: .3rem 1rem;
        padding-left: 3rem;
    }


    
}
ul.dropdown-menu.show{
    // width: 220px;
    // transform: translate3d(15px, 27px, 0px)!important;
    @include media-breakpoint-down(lg){
       width: 150px;     
    }

}
// button.btn.btn-primary{
//     // width: 220px!important;
//     // padding:.1rem 2rem!important;
// }