.c-videoframe{
    border: $color-lightblue 8px solid;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down (lg){
        width: 80%;
        height: 400px;

    }
    @include media-breakpoint-down (md){
        width: 70%;
        height: 300px;
        border: $color-lightblue 6px solid;
    }
    @include media-breakpoint-down (sm){
        width: 60%;
        height: 50%;
        border: $color-lightblue 4px solid;
    }
}