.c-h1left{
    padding-top: 7rem;
    font-family: $font-bold;
    color: $color-darkblue;
    font-size: 3.2rem;
    padding-left: 20rem;
    @include media-breakpoint-down(md) {
        font-size: 2.65rem;
        padding-top: 5rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.9rem;
        
      }
      @include media-breakpoint-down(xs){
        font-size: 1.2rem;
      }
    &__spacing{
        height: 165px;
        position: relative;
        @include media-breakpoint-down(sm) {
          height: 100px;
        }
    }
    &__total{
        position: absolute;
        left: -32rem;
        
        padding-left: 12rem;
        @include media-breakpoint-down(md) {
            padding-left: -18rem;
          }
          @include media-breakpoint-down(sm) {
            left: -30rem;
          }
    }
    &__line{
        border: 6px solid  $color-lightblue;
        background-color: $color-lightblue;
        width: 100%;
        margin-top: 1rem;
        position: absolute;
        left:0;
        @include media-breakpoint-down(sm) {
          margin-top: 0.3rem;
        }
    }
    &__img{
        padding-top: 6rem;
        @include media-breakpoint-down(sm) {
          padding-top: 3rem;
        }
        @include media-breakpoint-down(md) {
          padding-top: 4rem;
        }
    }
}